---
layout: default
---

<head>
    <link href="css/shCore.css" rel="stylesheet" type="text/css" />
    <link href="css/shThemeDefault.css" rel="stylesheet" type="text/css" />
  </head>

<h1>{{ page.title }}</h1>

<!--<p><img src="{{ page.image | relative_url }}" alt="{{ page.imagealt }}" class="project-image" /></p>-->

{{ content }}

<script src="js/shCore.js"></script>
  <script src="js/shBrushCpp.js"></script>
  <script>
    SyntaxHighlighter.all()
</script>

<p><strong>Resources Used</strong>: {{ page.resources | join: ", " }}</p>

<a href={{ "/" | relative_url }} class="back-arrow">
    <i class="bi bi-arrow-left-circle-fill"></i> Back to Home
</a>
